.tableContainer{
  margin: auto;
}


.table{
  margin: auto;
  padding: 10px;
  align-items: center;
  translate: initial ;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #3b3a3a;
    background-color: rgb(92, 91, 91);
    border-radius: 7px;
     
  }


.box-X{
  width: 200px;
  height: 200px;
  border: 0.5px solid #51baeb;
  background-color:#333;
  color:solid #6495ED ;
  color: #51eb5e;
  font-size: 100px;
  border-radius: 7px;
}


.box-O{
  width: 200px;
  height: 200px;
  border: 0.5px solid #979595;
  background-color:#333 ;
  color: #eb5151;
  font-size: 100px;
  border-radius: 7px;

}

body{
  align-items: center;
  border: 30cm;
  height: auto;
  background: #333;
}

.base{
  margin: auto;
  width: fit-content;
}

#newGame{
  width: 350px;
  height: 80px;
  border: 0.5px solid #198d1e;
  background-color:#46cc5d ;
  color: aliceblue;
  font-size: 48px;
  font-style: normal;
  border-radius: 15px;
  opacity: 100;
  translate: initial;
}


#newGame:hover {opacity: 0.6}

.player-winner-X{
  width: auto;
  height: auto;
  border: 1px solid #54e467;
  background-color:#3d3d3d ;
  color:solid #6495ED ;
  color: #51eb5e;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
}

.player-winner-O{
  width: auto;
  height: auto;
  border: 1px solid #eb5151;
  background-color:#3d3d3d ;
  color: #eb5151;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
}

.winner-modal{
  /*visibility: hidden; */
  position: absolute;
  top: 390px;
}


.form-player{
  /* visibility: hidden;*/
  position: relative;
}

.form-player-newgame{
  translate: initial ;
  position: relative;
  height: 150px;
  border: 1px solid #549ee4;
  background-color:#242424 ;
  opacity: 70%;
  color:solid #6495ED ;
  color: #e7ebe8;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 15px;
  top: 90px;
  right:5px;

}

.close-modal{
  color: red;
  position: absolute;
  right: 0px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 50%;
  border-style: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container{
  margin-top: 40px;
  margin-left: 20px;
  position: absolute;

}

.start-button{
  position: absolute;
  bottom: 10px;
}

.player-x{
  color: #51eb5e;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.player-o{
  color: #eb5151;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}